doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='An enthusiatic person who likes a challenge in programming specifically in front or back end web development. Have good understanding of the fundamentals of OOP, relational and non-relational databases. Enjoys experimenting with UI/UX for fun.')
        meta(name='author', content='Josue J Martinez')
        meta(name='keywords', content='HTML5, CSS3, JavaScript, Node, React, stack, developer')

        title Josue J Martinez

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Devicon icons missing from Font Awesome
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css")
    

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Josue J Martinez
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about')
                            i.fas.fa-user
                            |  About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') 
                            i.fas.fa-project-diagram
                            |  Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#small_demos') 
                            i.fas.fa-folder-plus
                            |  Small Demos
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') 
                            i.fas.fa-university
                            |  Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') 
                            i.fas.fa-laptop-code
                            |  Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests')
                            i.fas.fa-play
                            |  Interests

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section.p-3.d-flex.align-items-center.justify-content-center
                .resume-section-content.col-10.col-xl-8
                    h1.mb-0
                        | Josue 
                        span.text-secondary Martinez
                    h3#typewriter.cursor
                    .subheading.mb-5
                        | 38690 N Burr Oak Lane · Wadsworth, Il 60083 · 224.713.4004 ·
                        a(href='josue.justin.martinez@gmail.com') josue.justin.martinez@gmail.com
                    p.lead.mb-5
                        | An enthusiastic person who likes a challenge in programming
                        | specifically in back-end or front-end web development. I have a
                        | good understanding of the fundamentals of OOP, relational, and
                        | non-relational databases. I enjoy experimenting with UI/UX for
                        | fun.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/josue-j-martinez/', target='_blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/JosueJMartinez', target='_blank')
                            i.fab.fa-github
                        a.social-icon(href='https://www.facebook.com/josueycc', target='_blank')
                            i.fab.fa-facebook-f

            // Projects
            section#projects.resume-section.p-3.d-flex.align-items-center.justify-content-center.container.mt-3.rounded
               .resume-section-content.row
                    h2.mb-5.col-12 Projects

                    //- .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                    .col-lg-6
                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 Color Palette Demo in React
                            p
                                | Notable technologies used to build this: react, react-router-dom, material-ui, and chroma-js. 
                            
                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/colors-palette-react', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://josuejmartinez.github.io/colors-palette-react/', target='_blank') Demo

                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 Post-Blog React Demo
                            p
                                | Built a React Front End Web App with a pre-existing REST
                                | API web server. Modeled it as a Single Page Application and 
                                | understanding how to use React to give user a good experience.
                                | Notable technologies were Axios, React, react-router-dom, and react-moment.

                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/ReactDemoBlogApp', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://reactappjosue.netlify.app/', target='_blank') Demo
                    
                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 Profile Site
                            p
                                | Demonstrates ability to design and build UI websites, and
                                | integrate JS, SCSS, or SASS packages if needed. Used
                                | Bootstrap framework to make mobile friendly. Applied other
                                | plugins when necessary. Notable technologies used were Bootstrap,
                                | AOS, SCSS, Typewriter, Pug, Grunt, and Gulp.
                        
                    .col-lg-6

                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 Dynamic Web App Demo
                            p
                                | Demo App that demonstrates ability to design and build
                                | dynamic web apps for the internet. Integrate API's and
                                | using REST software architectural style and is mobile
                                | friendly. Notable technologies used are: ejs, googlesapis,
                                | node-geocoder, passport, cloudinary, and nodemailer.

                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/campWebApp', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://demowebcampapp.herokuapp.com/', target='_blank') Demo

                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 Salesforce Custom App
                            p
                                | Shows the ability to analyze, design, and build Models,
                                | Validations, Workflows, and Processes. Customize existing
                                | standard Apps, Objects, and Fields or create them from
                                | scratch. Also administrative work such as building reports,
                                | dashboards, or making new users, and profiles.
                    
                        .flex-grow-1.resume-item.pb-1.mb-3
                            h3.mb-0 Database Designs in MySQL, and PostgreSQL
                            p
                                | Worked with Java and PostgreSQL to practice and build
                                | databases and queries for a Movie Rental Database. Involved
                                | up to 8 tables and working with the concepts of nested
                                | queries, procedures, triggers, JOINS, and the relationships
                                | between tables.
                            p
                                | Then worked with Node.js with mySQL just to see the
                                | difference syntactically of how to connect with different
                                | databases with different languages.
                        
            // Small Demos
            section#small_demos.resume-section.p-3.d-flex.align-items-center.justify-content-center.container.mt-3.rounded
                .resume-section-content.row
                    h2.mb-5.col-12 Small Demos

                    //- .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                    .col-lg-6
                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 Note App
                            p
                                | Notable technologies used to build this: react and material-ui.
                            
                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/NoteReactApp2', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://josuejmartinez.github.io/NoteReactApp2/', target='_blank') Demo

                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 Simple Pokemon Game
                            p
                                | Simple game that retrieves data from PokeAPI for two teams of 4 pokemon.
                                | Technologies used: Axios, react-card-flipper, react, and chroma-js.

                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/ReactPokedex', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://josuejmartinez.github.io/ReactPokedex/', target='_blank') Demo
                    
                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 Dice Roller Game
                            p
                                | Simple Dice Game when starting to learn React

                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/dice-roller', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://josuejmartinez.github.io/dice-roller/', target='_blank') Demo
                        
                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 Yahtzee
                            p
                                | Another game built in React. Simple game with many moving parts to keep track.
                                | Specifically when the state of the game is rolling need to make sure most components can
                                | not be clicked to not break. Only notable technology used is React.

                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/react-yahtzee', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://josuejmartinez.github.io/react-yahtzee/', target='_blank') Demo

                        .flex-grow-1.resume-item.pb-1.mb-3
                            h3.mb-0 Lights Out
                            p
                                | Another game demo about the game Lights Out. Mainly built just to get a better handling
                                | of the concepts of React. 

                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/react-lights-out', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://josuejmartinez.github.io/react-lights-out/', target='_blank') Demo
                                            
                    .col-lg-6
    
                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 To Do List
                            p
                                | App that is similar to Note Application App but in a list concept.
                                | Notable technologies used are just React and UUID.

                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/react-to-do-list', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://josuejmartinez.github.io/react-to-do-list/', target='_blank') Demo

                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 Material-UI List
                            p
                                | App is similar to the To Do List App. Learned to reorganize code with new React features hooks, contexts, and reducers.
                                | Minimize pass down values through components. Notable technologies just React and Material-UI.

                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/material-ui-to-do-function-comp', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://josuejmartinez.github.io/material-ui-to-do-function-comp/', target='_blank') Demo

                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 Jokes App
                            p
                                | Simple Jokes Application that interacts with a Joke API server to get random jokes.
                                | Notable technologies besides React is just Axios.

                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/dad-jokes-react', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://josuejmartinez.github.io/dad-jokes-react/', target='_blank') Demo

                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h3.mb-0 Hangman Game
                            p
                                | Just a simple hangman game. Made a little complicated and introduced 3rd-party API to get random words.
                                | Notable technologies are just React and Axios.

                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/hangman', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://josuejmartinez.github.io/hangman/', target='_blank') Demo

                        .flex-grow-1.resume-item.pb-1.mb-3
                            h3.mb-0 Login Example
                            p
                                | Simple React Components for login screen. Used built-in features context and hooks to minimize code.
                                | Notable technologies are just React and Material-UI.

                            a.demo-btn.btn.btn-primary.btn-sm.git-btn(href='https://github.com/JosueJMartinez/login-screen-with-context', target='_blank') 
                                i.fab.fa-github 
                                | Github
                            a.demo-btn.btn.btn-primary.btn-sm(href='https://josuejmartinez.github.io/login-screen-with-context/', target='_blank') Demo

            // Education
            section#education.resume-section.p-3.d-flex.align-items-center.justify-content-center.container.mt-3.rounded
                .resume-section-content.row
                    h2.mb-5.col-12 Education &amp; Certifications

                    //- .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                    .col-12
                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h5 Dec 2019
                            h3.mb-0 Certified Salesforce.com Administrator

                        .flex-grow-1.resume-item.border-bottom.border-secondary.pb-1.mb-3
                            h5 April 2019
                            h3.mb-0 Certified Associate ORACLE Java SE 8
                        
                        .flex-grow-1.resume-item.pb-1.mb-3
                            .flex-grow-1
                                h5 Grad 2007
                                h3.mb-0 University of Illinois at Chicago
                                .subheading.mb-3 Bachelor of Science - Computer Engineering
                                ul.card-text
                                    li
                                        | Studied CPU, Memory architecture, and Logic circuit
                                        | design
                                    li
                                        | Studied Computer Programming, Data Structures and
                                        | Algorithms
                                    li  
                                        | Enjoyed teaching others in mathematics and generic concepts
                                        | OOP and Functional Programming

            // Skills
            section#skills.resume-section.p-3.d-flex.align-items-center.justify-content-center.container.mt-3.rounded
                .resume-section-content.row
                    h2.mb-5.col-12 Skills
                    .col-12
                        h3 Programming Languages & Tools
                        ul.list-inline.dev-icons
                            li.list-inline-item
                                i.fab.fa-java.dev-icon
                            li.list-inline-item
                                i.fab.fa-salesforce.dev-icon
                            li.list-inline-item
                                i.fab.fa-html5.dev-icon
                            li.list-inline-item
                                i.fab.fa-css3-alt.dev-icon
                            li.list-inline-item
                                i.fab.fa-js-square.dev-icon
                            li.list-inline-item
                                i.fab.fa-bootstrap.dev-icon
                            li.list-inline-item
                                i.fab.fa-sass.dev-icon
                            li.list-inline-item
                                i.devicon-jquery-plain.dev-icon
                            li.list-inline-item
                                i.fab.fa-node-js.dev-icon
                            li.list-inline-item
                                i.devicon-express-original.dev-icon
                            li.list-inline-item
                                i.devicon-react-original.dev-icon
                            li.list-inline-item
                                i.fab.fa-npm.dev-icon
                            li.list-inline-item
                                i.devicon-webpack-plain.dev-icon
                            li.list-inline-item
                                i.fab.fa-gulp.dev-icon
                            li.list-inline-item
                                i.fab.fa-grunt.dev-icon
                            li.list-inline-item
                                i.devicon-mongodb-plain.dev-icon
                            li.list-inline-item
                                i.devicon-mysql-plain.dev-icon
                            li.list-inline-item
                                i.devicon-postgresql-plain.dev-icon
                            li.list-inline-item
                                i.devicon-heroku-plain.dev-icon
                            li.list-inline-item
                                i.devicon-git-plain.dev-icon
                        h3 Workflow
                        ul.fa-ul.mb-0
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Mobile-First, Responsive Design
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Cross Browser Testing & Debugging
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Cross Functional Teams
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Strong Multi-task, Communication, Analytical, Design
                                | & Implementation skills
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Build & Design: Data Structures, Algorithms, Database
                                | Models
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Bilingual English & Spanish

            // Interests
            section#interests.resume-section.p-3.d-flex.align-items-center.justify-content-center.container.mt-3.rounded
                .resume-section-content.row
                    h2.mb-5.col-12 Interests
                    p
                        | After graduating from the University of Illinois at Chicago
                        | I spent ten years in my rural hometown in Mexico. I spent
                        | time helping build house and electrical infrastructures. I
                        | have returned to the United States recently and currently
                        | looking to help out in web develpoment projects. My
                        | interests lie in web development and looking to build and
                        | grow with a team of like-minded individuals. I like
                        | learning new technologies in back-end and front-end web
                        | development and currently have been working React.
                    p.mb-0
                        | When not studying or building web app demos, I like to
                        | spend time with family and friends. In the summer I play
                        | soccer and go to any festivals in the Chicagoland area.
                        | During the winter and this COVID-19 pandemic we are in, I enjoy
                        | practicing and playing the cello and bass guitar.
           
        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Typewriter-effect.js
        script(src='https://unpkg.com/typewriter-effect@latest/dist/core.js')

        // Core theme JS
        script(src='js/scripts.js')