@import "./variables/colors.scss";
@import "./variables/typography.scss";
@import "./variables/spacing.scss";
@import "./variables/grid.scss";

$primary: #0b0c10 !default;
$secondary: #66fcf1 !default;
$text: #c5c6c7 !default;
$last: #45a29e !default;
$bg: #1f2833 !default;
$primary-transparent: #0b0c10c7 !default;
$primary-bg-transparent: #0b0c10c7 !default;
